@import 'tailwindcss';

:root {
  --font-title: 'Merriweather', serif;
  --font-text: 'Source Code Pro';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-title);
}

p,
span,
li,
a {
  font-family: var(--font-text);
}
