@import 'tailwindcss';

:root {
  --font-title: 'Merriweather', serif;
  --font-text: 'Source Code Pro', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-title);
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-text);
}

@theme {
  --color-snow: #f4f1ec;
  --color-yellow: #fdf156;
  --color-orange: #fdaf15;
  --color-green: #02c877;
  --color-chocolate: #884a3b;
  --color-light-chocolate: #d47b65;
  --color-dark: #111827;
}
